body {
    background-color: #201234;
    color: gainsboro;
    font-family: 'Teko', sans-serif;
}

#header-title {
    text-align: center;
}

#resource-table, #prod-upg-table, #br-resource-table, #br-upg-table {
    margin: auto;
}

.resource-line {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.prod-line {
    font-size: 14pt;
    font-weight: both;
    text-align: center;
}

.prodNum {
    font-weight: bold;
    color: #de00ee;
    font-size: 125%;
}

.moneyNum {
    font-weight: bold;
    color: #ff823a;
    font-size: 125%;
}

.brNum {
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 0.5px gainsboro;
    font-size: 125%;
}

.upgrade-div {
    border: 1px solid gainsboro;
    height: 150px;
    width: 150px;
    text-align: center;
    outline: none !important;
    margin: 1em;
}

.upg-button {
    pointer-events: none;
    user-select: none;
    padding: 12px;
}

.upgrade-div.can {
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.upgrade-div.can:hover, .upgrade-div.can:active {
    background-color: rgba(220, 220, 220, 0.1);
}

.upgrade-div.can:active {
    box-shadow: none;
    margin-top: calc(1em + 5px);
    margin-left: calc(1em + 5px);
    margin-right: calc(1em - 5px);
    margin-bottom: calc(1em - 5px);
}

.upgrade-div.cant {
    cursor: not-allowed;
}

.upgrade-div.cant:after {
    height: 150px;
    width: 150px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 1px;
    left: calc(1em + 1px);
    content: "";
}

.upgrade-div.bought {
    border: 1px solid #ff823a;
    background-color: black;
}

.upg-cost-container {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.upg-effect-container {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80%;
}

.prestigeContainer {
    width: calc(2em + 400px);
    margin: auto;
}

.prestige-div {
    width: 400px;
    height: 130px;
    text-align: center;
    margin: 1em;
    padding: 10px;
    border: 1px solid gainsboro;
    background-color: #391f5e;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.prestige-div:hover, .prestige-div:active {
    background-color: #4e2b80;
}

.prestige-div:active {
    box-shadow: none;
    margin-top: calc(1em + 5px);
    margin-left: calc(1em + 5px);
    margin-right: calc(1em - 5px);
    margin-bottom: calc(1em - 5px);
}

#nav-icons-container {
    position: relative;
}

#nav-icons {
    position: absolute;
    left: 0;
    top: 0;
}

.nav-icon {
    cursor: pointer;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgba(0, 0, 0, 1); }
.material-icons.md-dark.selected { color: rgba(255, 255, 255, 1); }

#intro-popup {
    background-color: #201234;
    text-align: center;
    font-size: 18px;
    padding-left: 75px;
    padding-right: 75px;
    width: 650px;
    height: 300px;
    border: 2px solid gainsboro;
    box-shadow: 10px 10px 10px black;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.confirm-button {
    font-size: 22px;
    border: 1px solid gainsboro;
    height: 40px;
    width: 75px;
    margin: 15px auto;
    text-align: center;
    outline: none !important;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    line-height: 40px;
}