body {
    background-color: #201234;
    color: gainsboro;
    font-family: 'Teko', sans-serif;
    line-height: 1.2em;
}

#header-title {
    text-align: center;
}

#resource-table, #prod-upg-table, #br-resource-table, #br-upg-table, #options-table, #employee-table, #prestige-table {
    margin: auto;
}

.resource-line {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

.prod-line {
    font-size: 14pt;
    font-weight: both;
    text-align: center;
}

.defNum {
    font-weight: bold;
    color: gainsboro;
    font-size: 125%;
}

.prodNum {
    font-weight: bold;
    color: #de00ee;
    font-size: 125%;
}

.moneyNum {
    font-weight: bold;
    color: #ff823a;
    font-size: 125%;
}

.brNum {
    font-weight: bold;
    color: black;
    -webkit-text-stroke: 0.5px gainsboro;
    font-size: 125%;
}

.upg-button, .buyable-button {
    pointer-events: none;
    user-select: none;
    padding: 12px;
}

.upgrade-div, .buyable-div {
    border: 1px solid gainsboro;
    height: 150px;
    width: 200px;
    text-align: center;
    outline: none !important;
    margin: 1em;
}

.buyable-div {
    border-radius: 25px;
}

.upgrade-div.can, .buyable-div.can {
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.upgrade-div.can:hover, .upgrade-div.can:active, .buyable-div.can:hover, .buyable-div.can:active {
    background-color: rgba(220, 220, 220, 0.1);
}

.upgrade-div.can:active, .buyable-div.can:active {
    box-shadow: none;
    margin-top: calc(1em + 5px);
    margin-left: calc(1em + 5px);
    margin-right: calc(1em - 5px);
    margin-bottom: calc(1em - 5px);
}

.upgrade-div.cant, .buyable-div.cant {
    cursor: not-allowed;
}

.upgrade-div.cant:after, .buyable-div.cant:after {
    height: 150px;
    width: 200px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 1px;
    left: calc(1em + 1px);
    content: "";
}

.buyable-div.cant:after {
    border-radius: 25px;
}

.upgrade-div.bought {
    border: 1px solid #ff823a;
    background-color: black;
}

.upg-cost-container {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
}

.upg-effect-container {
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 80%;
}

.prestige-div {
    width: 400px;
    height: 130px;
    text-align: center;
    margin: 1em auto;
    padding: 10px;
    border: 1px solid gainsboro;
    background-color: #391f5e;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

.prestige-div:hover, .prestige-div:active {
    background-color: #4e2b80;
}

.prestige-div:active {
    box-shadow: none;
    margin-top: calc(1em + 5px);
    margin-left: calc(1em + 5px);
    margin-right: calc(1em - 5px);
    margin-bottom: calc(1em - 5px);
}

#nav-icons-container {
    position: relative;
}

#nav-icons {
    position: absolute;
    left: 0;
    top: 0;
}

.nav-icon {
    cursor: pointer;
}

#options-icons {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-dark { color: rgb(87, 87, 87); }
.material-icons.md-dark.selected { color: rgba(255, 255, 255, 1); }

#intro-popup {
    background-color: #201234;
    text-align: center;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    width: 700px;
    height: 250px;
    border: 2px solid gainsboro;
    box-shadow: 10px 10px 10px black;
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#confirm-button-container {
    width: 150px;
    margin: auto;
}

.confirm-button {
    font-size: 22px;
    border: 1px solid gainsboro;
    height: 40px;
    width: 75px;
    margin: 1em;
    text-align: center;
    outline: none !important;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    line-height: 40px;
}

.confirm-button:hover, .confirm-button:active {
    background-color: rgba(220, 220, 220, 0.1);
}

.confirm-button:active {
    box-shadow: none;
    margin-top: calc(1em + 5px);
    margin-left: calc(1em + 5px);
    margin-right: calc(1em - 5px);
    margin-bottom: calc(1em - 5px);
}

#popupContainer {
    position: fixed;
    top: 5px;
    right: 0;
    height: 200px;
    pointer-events: none;
    z-index: 8;
}

.autosavePopup {
    box-shadow: 0px 0px 5px 2px gainsboro;
    text-align: center;
    background-color: #201234;
    border: 3px solid gainsboro;
    width: 150px;
    margin: 10px;
    border-radius: 4px;
    opacity: 0.5;
    z-index: 8;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.optBut {
    font-size: 22px;
    border: 1px solid gainsboro;
    height: 40px;
    width: 150px;
    margin: 1em;
    text-align: center;
    outline: none !important;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    line-height: 40px;
}

.optBut:hover, .optBut:active {
    background-color: rgba(220, 220, 220, 0.1);
}

.optBut:active {
    box-shadow: none;
    margin-top: calc(1em + 5px);
    margin-left: calc(1em + 5px);
    margin-right: calc(1em - 5px);
    margin-bottom: calc(1em - 5px);
}

.confPopup {
    background-color: #201234;
    text-align: center;
    font-size: 18px;
    padding-left: 50px;
    padding-right: 50px;
    width: 300px;
    height: 200px;
    border: 2px solid gainsboro;
    box-shadow: 10px 10px 10px black;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.confirmBut {
    font-size: 22px;
    border: 1px solid gainsboro;
    height: 40px;
    width: 75px;
    margin: 1em;
    text-align: center;
    outline: none !important;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    line-height: 40px;
}

.confirmBut:hover, .confirmBut:active {
    background-color: rgba(220, 220, 220, 0.1);
}

.confirmBut:active {
    box-shadow: none;
    margin-top: calc(1em + 5px);
    margin-left: calc(1em + 5px);
    margin-right: calc(1em - 5px);
    margin-bottom: calc(1em - 5px);
}

.about-info {
    text-align: center;
}

#exportText {
    resize: none;
    overflow: overlay;
    background-color: grey;
    width: 600px;
    height: 200px;
}