<!DOCTYPE html>

<html>
    
<head>
    <title>You're Broke.</title>
    <script type="text/javascript" src="js/tools/break_infinity.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="js/money.js"></script>
    <script type="text/javascript" src="js/prod.js"></script>
    <script type="text/javascript" src="js/data_objects.js"></script>
    <script type="text/javascript" src="js/tools/utils.js"></script>
    <script type="text/javascript" src="js/tools/components.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body onload="init()">
    <div id="app">
        <popups ref="popupscontainer"></popups>
        <confirm-popup ref="confpop"></confirm-popup>
        <div v-if="!player.seenIntro" id="intro-popup">
            <h2>Welcome to You're Broke.</h2>
            In this game your goal is to spend all of your credits while producing augments.<br>
            (augments? credits? what is this, Cyberpunk 2e77? am I playing as a megacorp? these are all questions better left un-asked.)<br>
            When you run out of credits, you can go bankrupt and start over, beginning with a larger pool of credits. After your first bankruptcy several new features will unlock - click on the question mark in the corner for more info on these (NOT IMPLEMENTED).<br>
            Have fun and try not to think about our inevitable collapse into a late-stage capitalist hellscape.
            <div id="confirm-button-container"><div class="confirm-button" onclick="closeIntroPopup()">Oookay...</div></div>
        </div>
        <div id="options-icons">
            <div class="nav-icon"><span class="material-icons md-36 md-dark">help_outline</span></div>
            <div class="nav-icon" onclick="navIconClick('options')"><span v-bind:class="{ 'material-icons md-36 md-dark': true, 'selected': player.activeTab=='options' }">settings</span></div>
        </div>
        <div id="header-title"><h1 v-html="(player.money.gt(0) ? 'You\'re Not Broke.' : 'You\'re Broke.')"></h1></div>
        <hr>
        <table id="resource-table">
            <tr>
                <td width="250px">
                    <div class="resource-line">You have <num-text data="m" :val="formatWhole(player.money)" label="$"></num-text>.</div>
                </td>
                <td width="50px">
                    <div style="width: 100%;"></div>
                </td>
                <td width="250px">
                    <div class="resource-line">You have <num-text data="p" :val="format(player.augs, 1)" label="augments"></num-text>.</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div v-if="!calculateCreditsPerSec().eq(0)" class="prod-line">You are <strong>{{ (calculateCreditsPerSec().gt(0) ? 'making' : 'losing') }}</strong> <num-text data="m" :val="format(calculateCreditsPerSec(), 1)" label="$"></num-text>/sec. (+{{ format(calculateProfit(), 2) }}/-{{ format(calculateSpending(), 2) }})</div>
                </td>
                <td></td>
                <td>
                    <div v-if="calculateProduction().gt(0)" class="prod-line">You are producing <num-text data="p" :val="format(calculateProduction(), 1)" label="augments"></num-text>/sec.</div>
                </td>
            </tr>
        </table>
        <hr>
        <div id="nav-icons-container">
            <div id="nav-icons">
                <div class="nav-icon" id="prod-nav-icon" onclick="navIconClick('prod')"><span v-bind:class="{ 'material-icons md-36 md-dark': true, 'selected': player.activeTab=='prod' }">memory</span></div>
                <div v-if="player.totalBRPoints.gt(0)" class="nav-icon" id="br-nav-icon" onclick="navIconClick('br')"><span v-bind:class="{ 'material-icons md-36 md-dark': true, 'selected': player.activeTab=='br' }">euro</span></div>
            </div>
        </div>
        <div v-if="player.activeTab=='prod'" class="tab-div" id="prod-tab">
            <table id="prod-upg-table">
                <tr>
                    <td>
                        <upgrade data="p" :id="parseInt(1)"></upgrade>
                    </td>
                    <td>
                        <upgrade data="p" :id="parseInt(2)"></upgrade>
                    </td>
                    <td>
                        <upgrade data="p" :id="parseInt(3)"></upgrade>
                    </td>
                    <td>
                        <upgrade data="p" :id="parseInt(4)"></upgrade>
                    </td>
                </tr>
            </table>
            <table v-if="player.brUpgs.includes(1)" id="employee-table">
                <tr>
                    <td>
                        <buyable data="p" :id="parseInt(1)"></buyable>
                    </td>
                </tr>
            </table>
            <prestige-button></prestige-button>
        </div>
        <div v-if="player.activeTab=='br'" class="tab-div" id="br-tab">
            <table id="br-resource-table">
                <tr>
                    <td>
                        <div class="resource-line">You have <num-text data="b" :val="formatWhole(player.brPoints)" label="bankrupt points"></num-text>.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="resource-line">You have gained <num-text data="b" :val="formatWhole(player.totalBRPoints)" label="total bankrupt points"></num-text>, which boost augment production by <num-text data="d" :val="format(getBRPointEffect(), 2)" label=""></num-text>x.</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="resource-line">You have spent <num-text data="b" :val="formatWhole(player.spentBRPoints)" label=" bankrupt points"></num-text>, which earn <num-text data="m" :val="format(calculateProfit(), 1)" label="$"></num-text>/sec.</div>
                    </td>
                </tr>
            </table>
            <table id="br-upg-table">
                <tr>
                    <td>
                        <upgrade data="b" :id="parseInt(1)"></upgrade>
                    </td>
                </tr>
            </table>
        </div>
        <div v-if="player.activeTab=='options'" class="tab-div" id="options-tab">
            <table id="options-table">
                <tr>
                    <td>
                        <opt-button :data="parseInt(1)"></opt-button>
                    </td>
                </tr>
            </table>
            <div class="about-info">
                Made by monkeh42 for the third Incremental Game Jam.<br>
                Check out my discord:<br>
                <a href="https://discord.gg/Db788MgmDX" target="_blank"><img src="discord.png" width="50"></a>
            </div>
        </div>
    </div>
</body>

</html>